html, body {
    width: 100%;
}

body{
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
}

ul li, ol li{
    list-style: none;
}

h1, h2, h3{
    color: rgb(21, 21, 21);
    display: block;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h1{
    font-size: 45px;
    font-weight: bold;
}

h2{
    color: rgb(68, 68, 68);
    font-size: 32px;
}

h3{
    color: rgb(68, 68, 68);
}

h4{
    color: rgb(255, 108, 48);
    font-size: 16px;
    font-weight: 500;
}

h5{
    color:rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: 2px 2px rgba(0,0,0, 0.5);
    text-transform:capitalize;
}

p, text, label{
    font-family: "Open-Sans", sans-serif;
}

p, label{
    color: rgb(75, 75, 75);
    font-size: 16px;
    font-weight: normal;
}

text, label{
    text-transform: capitalize;
}

text{
    color: rgb(151, 151, 151);
    font-size: 12px;
    font-weight: 500;
}

a{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}

i{
    color: rgb(255, 255, 255);
    display: block;
    /* font-size: 30px; */
}

section, aside, modal{
    margin: 0;
    padding: 0;
}

/* dropdown triangular icon */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.clear{
clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.dark{
    background: rgba(0,0,0, 0.3);
    height: 100%;
}

.text-white{
    color: rgb(255, 255, 255);
}  

.text-center{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.mainHeader{
    margin: auto;
    text-align: center;
}

.sectionHeader{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.subHeader{
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.mainHeader label, .sectionHeader label{
    display: block;
    font-size: 18px;
    margin-top: 25px;
}

.button{
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.btn{
    background: rgb(255, 108, 48);
    border: rgb(255, 108, 48);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
}

.btn:hover{
    background: rgb(194, 66, 16);
}

/*  ratings */
.star span{
    margin-left: 5px;
    /* color: rgb(0, 0, 0); */
}

/* ratings checked */
.checked{
    color: rgb(255, 238, 0);
}



.mainHeader h1:after, .sectionHeader h2:after, .subHeader h3:after {
    display: block;
    content: "";
    height: 3px;
    width: 6%;
    background-color: rgb(255, 108, 48);
    position: relative;
    bottom: -12px;
    margin: 0 auto;
}

